/*

#fullPage {
  width: 1136px;
}

*/
* {
   border: 1px solid grey;
}

.appChooser {
  display: inline-block;
}

.inboxHeader {
  display: inline-block;
}

#composeButton {
  float: right;
  text-align: right;
}

#inbox {
  text-align: center;
}

#hamburgerButton {
  float: left;
  text-align: left;
}



.inboxHeader {
  margin: auto;
  width: 30%;
}
