/*
#fcfcfc

* {
border: .1px solid black;
}

*/

#fullPage {
  height: 5000px;
}




.sticky-part {
  position: sticky;
  top: 0;
  background-color: white;
}

.appChooser {
  display: inline-block;
}

.inboxHeader {
  display: inline-block;
  vertical-align: middle;
}

#composeButton {
  float: right;
  text-align: right;
}

#inbox {
  text-align: center;
}

#hamburgerButton {
  float: left;
  text-align: left;
}

#search {
  float: left;
  border-width: thin;
  border-color: grey;
  display: inline-block;
  width: 100%;
  padding-top: 5px;
  background-color: white;
}

.inboxHeader {
  padding-top: 5px;
  margin: auto;
  width: 30%;
}

.emailHolder {
  display: inline-block;
}

.emailLeft {
  width: 10%
}

.emailMiddle {
 width: 70%
}
.emailRight {
  width: 20%
}
