body {
    background-color: #fff2fd;
}

.header {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  width: calc(100% - 50%);
}

.contentBox {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

h1 {
  color: black;
  font-size: Large;
}
